*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Radio Canada', sans-serif;
	font-size: 18px;
}
#body{
	color: #f2f2f2;
	background-color: #222222;
}
#main_header{
	background-color: #222222;
	position: fixed;
	width: 100%;
	z-index: 5;
	padding: 20px 45px;
	box-shadow: 0 0 4px 0 #00000060;
}
#main_header img{
	width: 36px;
	vertical-align: middle;
}
#main_header span{
	cursor: pointer;
	padding: 20px 0;
	padding-left: 30px;
}
#main_header span:hover{
	color: #0dd;
}
#main_header #lighting_mode{
	float: right;
	padding: 0 20px;
	width: 60px;
	font-size: 1.2em;
}
#intro{
	text-align: center;
	margin-bottom: 50px;
}
#intro h2{
	font-size: 2.5em;
	margin-bottom: 200px;
}
#intro h2 img {
	vertical-align: middle;
}
#intro #text_play{
	background-color: #000000b0;
	display: inline-block;
	border-radius: 5px;
	margin: 25px 0;
	padding: 10px;
}
#intro h2 span {
	color: #f050f0;
	font-size: inherit;
}
.section{
	background-color: #303030;
	display: flex;
	width: 90%;
	margin: 50px auto;
	padding: 150px 10px;
	border-radius: 5px;
}
.section .moha{
	opacity: 0.1;
	margin-left: 0;
}
.section div{
	width: 50%;
	padding: 1em 0;
}
.section h2{
	font-size: 3em;
	font-weight: bold;
}
.section p{
	font-size: 1.5em;
}
#footer_header{
	background-color: #222222;
	width: 100%;
	margin-top: 200px;
	padding: 30px 50px;
	font-size: 0.6em;
	box-shadow: 0 0 4px 0 #00000060;
}
#footer_header element{
	font-size: 1em;
}
#footer_header span{
	background-color: #30b030;
	cursor: pointer;
	padding: 5px;
	font-size: 1.6em;
	font-weight: bold;
}